<!DOCTYPE html>
<html>

  <head>
    <title>Private Lessons</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/teachers">Professores</a>
        <a href="/students">Estudantes</a>
        <a href="/register">Registrar</a>
      </div>
    </header>

    {% block content %}{% endblock %}

    <script src="/scripts.js"></script>
  </body>

</html>