{% extends "layout.njk" %}

{% block content %}
  <section class="button-container">
    <a href="teachers/register">Novo Professor</a>
    <a href="students/register">Novo Estudante</a>
  </section>
{% endblock content %}